{% extends 'base.html' %}

{% block title %}blog一覧{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="text-center">Blog一覧</h1>
    <p class="text-center">記事たちの一覧</p>
    <div class="card-deck">
        <div class="row">
            {% for item in object_list %}
            <div class="col-sm-4 py-2">
                <div class="card h-100">
                    <img class="card-img-top" src="#.jpg" alt="ダミーテキスト">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content | truncatechars:20 }}</p>
                        <p class="card-text">
                            {% if item.category is None %}カテゴリはありません
                            {% else %}カテゴリ：{{ item.category.name }}
                            {% endif %}
                        </p>
                        <p class="card-text bu"><a href="{% url 'blogdetail' item.pk %}" class="btn btn-outline-dark btn-sm mt-2" role="button">よむ</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}