{% extends 'base.html' %}

{% block title %}ayameblog　blog記事{% endblock %}

{% block content %}

<div class="container mt-2 pb-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title pb-2">{{ object.title }}</h2>
            {% if object.image %}
            <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
            {% endif %}
            <p class="card-text">{{ object.content | linebreaksbr }}</p>
            {% if object.link %}
            <p class="card-text"><a href="{{ object.link }}">{{ object.link }}</a></p>
            {% endif %}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {% if object.category is None %}
                カテゴリはありません
                {% else %}
                カテゴリ：<a href="{% url 'categorydetail' object.category.slug %}" >{{ object.category.name }}</a>
                {% endif %}
            </li>
        </ul>

        <div class="card-footer text-muted">
            {{ object.created_at }}
        </div>
    </div>
</div>

{% endblock %}