{% extends 'base.html' %}

{% block title %}Top{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="text-center py-5">ayameblog</h1>
    <h2 class="text-center mt-5 pb-2">Works</h2>
    <p class="text-center">やってきたこと これからやること</p>
    <div class="card-deck">
        <div class="row">
            {% for item in work_list %}
            <div class="col-sm-4">
                <div class="card h-100">
                    {% if item.image %}
                    <img class="card-img-top img-thumbnail" src="{{ item.image.url }}" alt="{{ item.title }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-title">{{ item.title }}</p>
                        <p class="card-text">{{ item.content | truncatechars:20 }}</p>
                        <p class="card-text bu"><a href="{% url 'workdetail' item.pk %}" class="btn btn-outline-dark btn-sm mt-2" role="button">よむ</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'worklist' %}" class="btn btn-outline-dark btn-sm mt-2" role="button">work一覧</a>
</div>


<div class="container py-5">
    <h2 class="text-center pb-2">Blog</h2>
    <p class="text-center">日々のきろくたち</p>
    <div class="card-deck"> 
        <div class="row">
            {% for item in blog_list %}
            <div class="col-sm-4">
                <div class="card h-100">
                    {% if item.image %}
                    <img class="card-img-top img-thumbnail" src="{{ item.image.url }}" alt="{{ item.title }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-title">{{ item.title }}</p>
                        <p class="card-text">{{ item.content | truncatechars:20 }}</p>
                        <p class="card-text">
                            {% if item.category is None %}カテゴリはありません
                            {% else %}カテゴリ：<a href="{% url 'categorydetail' item.category.slug %}" >{{ item.category.name }}</a>
                            {% endif %}
                        </p>
                        <p class="card-text bu"><a href="{% url 'blogdetail' item.pk %}" class="btn btn-outline-dark btn-sm mt-2" role="button">よむ</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'bloglist' %}" class="btn btn-outline-dark btn-sm mt-2" role="button">blog一覧</a>
    <a href="{% url 'categorylist' %}" class="btn btn-outline-dark btn-sm mt-2" role="button">カテゴリ一覧</a>
</div>

{% endblock %}